@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width:5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color:#13161f; 

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #08634e5c; 
    border-radius:7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #08634e5c; 
  }

  /* index.css */

/* index.css */

/* Animation for the left-to-right glow */
@keyframes buttonGlow {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Initial shadow */
    transform: translateX(-50%);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 255, 140, 0.762); /* Intermediate shadow */
    transform: translateX(50%);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Final shadow */
    transform: translateX(-50%);
  }
}

/* Animation for the hover effect */
@keyframes buttonHover {
  0% {
    transform: scale(1); /* Initial scale */
  }
  100% {
    transform: scale(1.05); /* Enlarged scale */
  }
}

/* Apply the left-to-right glow animation to the button */
body {
  background-color: #13161f; /* Set your desired background color */
  margin: 0; /* Remove default margin to ensure full width */
  padding: 0; /* Remove default padding to ensure full width */
}

/* Hover effect: when pointer hovers over the button */
/* Define styles for centering the main content */
.container {
  max-width: 70%; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding to the container */
  height: 100vh;

}
.intro{
  height: 90vh;

}

/* Styles for Header, Footer, and other components can be defined here */

.resume-button:hover {
  animation: buttonHover 0.3s forwards; /* Enlarge by 10% on hover */
  box-shadow: 0 0 5px #00e5fe; /* Full glow on hover */
  
}
.skill:hover{
  animation: buttonHover 0.3s forwards; /* Enlarge by 10% on hover */
  box-shadow: 0 0 5px #00e5fe; /* Full glow on hover */
}

.footer{
  font-family: monospace;
}
.slider{
  height: 100vh;
  margin-top: auto;
  position: relative;

}

.slider .list .item{
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.slider .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item::after{
  content:'';
  width: 100%;
  height: 100%;
  position:absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top, #000 10%, transparent
  );
}

.slider .list .item .content{
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 60%;
  z-index: 1;

}

.slider .list .item .content p:nth-child(1){
  text-transform: uppercase;
  letter-spacing: 10px;
}

.slider .list .item .content h2{
  font-size: 100px;
  margin: 0;
}

.slider .list .item.active{
  opacity: 1;
  z-index: 10;
  filter:blur(0);
}

@keyframes showContent {
  to{
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  } 
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3)
{
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2{
  animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3){
  animation-delay: 1.3s;
}

.arrows{
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}

.arrows button{
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: .5s;
}

.arrows button:hover{
  background-color: #eee;
  color: black;
}

.thumbnail{
  position: absolute;
  bottom: 0px;
  z-index: 11;
  display: flex;
  gap: 20px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
  align-items: center;
  
}
.thumbnail .item img:hover{
  transform: scale(1.05);
}
.thumbnail::-webkit-scrollbar{
  width: 0;
}

.thumbnail .item{
  width: 100px;
  height: 140px;
  filter: brightness(.5);
  transition: .5s;
  flex-shrink: 0;
  filter: blur(1px);
}

.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.thumbnail .item.active{
  transform: scale(1.05);
  filter: blur(0);

}

.thumbnail .item .content{
  position: absolute;
  inset: auto 10px 10px 10px;
}

@media screen and (max-width: 1050px) { /* Adjusts for devices with width less than 768px */
  .container {
    max-width: 95% !important; /* Forces the container to occupy 90% of the screen width */
  }
  .intro, .slider { /* Assuming you want these elements to also occupy 90% width */
    width: 90% !important; /* Adjusts width to 90% for consistency */
  }
}


@media screen and (max-width: 1050px) {
  .thumbnail{
    justify-content: start;
  }

  .slider .list .item .content h2{
    font-size: 60px;

  }

  .arrows{
    top: 10%;
  }
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Ensure the header stays on top of other content */
}


.name {
  transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.name:hover{
  color: #00e5fe;
  transform: translate(-2px, -2px); /* Move 1px left and 1px up on hover */

}
.section-title:hover{
  color: #00e5fe;
}

.tag:hover{
  color: #00e5fe;

  transform: translate(-2px, -2px); /* Move 1px left and 1px up on hover */
  
}
.phrase{
  font-size: 12px;
}
.phrase:hover{
  color: #00e5fe;

  opacity: 100%;
  
}

.header-logo img{
  opacity: 60%;
  margin-left: 20px;
  margin-top: 10px;
}
.header-logo img:hover{
  transition: transform 0.3s ease;
  transform: translate(-2px, -2px); 
  opacity: 90%;
}

.header-right{
  font-family: monospace;
  font-size: 12px;
  margin-right: 40px;
  color: #8892b0;
}

.t1:hover{
  cursor: pointer;
  color: #00e5fe;
}

.rsider{
  margin-right: -80px;
}
.rsider-text{
  margin-bottom: 90px;
  font-size: 10px;
  letter-spacing: 1px;
  opacity: 50%;
}

.rsider-text:hover{
  color: #00e5fe;
  opacity: 100%;
  
}

/* Initial state of the header */
/* Initial state of the header */
.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.5s ease; /* Adjust transition duration and timing function */
}

/* CSS class to hide the header */
.header-container.hidden {
  top: -80px; /* Adjust the height of the header as needed */
}

.about-me{
  padding-right: 20px;
  padding-bottom: 20px;
  
}
.about-me:hover{
  transition: transform 0.5s ease;
  transform: translate(16px, 16px);
}

.about-me img:hover{
  transition: transform 0.5s ease;
  transform: translate(-32px, -32px); 
}

.about-me:not(:hover){
  transition: transform 0.5s ease;

}

.about-me img:not(:hover){
  transition: transform 0.5s ease;

}

.about-text{
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;

}

.ri-play-line{
  margin-left: -25px;
  padding: 5px;
  color: #00e5fe;
}
.ri-share-circle-line{
  font-size: 24px;
  color: #ccd6f6;
  margin-left: 10px;
  cursor: pointer;
}

.ri-share-circle-line:hover{
  transform: scale(1.02);
  color: #00e5fe;
}

.cloud-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;

}

.tech-cloud {
  background-color: #8892b01e;
  color: #ccd6f6;
  padding: 4px 12px;
  border-radius: 20px;
  position: relative;
  font-family: monospace;
  font-size: 10px;
  cursor: pointer;
}
.tech-cloud:hover{
  color: #00e5fe;
}
.icons {
  cursor: pointer;
}

.icons:hover {
  transform: translate(1px, 1px);
  transition: transform 0.3s ease; /* Apply transition for smooth animation */
  color: #00e5fe;
}

#outer-div:hover .text-highlight{
  cursor: pointer;
  color: #00e5fe;
}


/* Define font size for small screens */
@media screen and (max-width: 1050px) {
  .intro{
    padding-left: 10%;
  }
  .name{
    font-size: 28px;
  }
  .tag {
    font-size: 12px; /* Adjust the font size as needed for smaller screens */
  }
  .phrase{
    font-size: 4px;
    width:80%;
    word-wrap: break-word;
  }
  .contact{
    font-size: 9px;
  }

  .section-title{
    font-size: 12px;
  }

}

.contact:hover{
  color: #00e5fe;
}

.proj-title:hover{
  color: #00e5fe;
}

.skill{
  font-size: 10px;
}

.contact-page {
  height: 70vh; /* Set the height to cover the entire viewport */
  background-color: #13161f; /* Set your desired background color */
}

.contact-page-down{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

